/* Button Styles */
.cursor {
    cursor: pointer;
}
.primary {
    color: #fff;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 30px;
    border-radius: 38px;
    border: none;
    text-transform: uppercase;
    background: linear-gradient(45deg, #fe3072, #ff5940);

    &:hover {
        background: linear-gradient(268deg, #fe3072, #ff5940);
    }
}
.secondary {
    color: #797777;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px #797777;
    margin: 6px;

    &:hover {
        color: #303030;
        border: 2px solid #303030;
    }
}
.nav {
    color: #fe3072;
    background-color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}