.chat-header {
    background: linear-gradient(45deg, #fe3072, #ff5940);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
    border: none;
    background-color: #fff;
    border-bottom: solid 4px #f32121;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.option:disabled {
    border-bottom: solid 4px #bbbbbb;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img {
    width: 100%;
}