#dashboard {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* Card style */
    .swiper-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100;
    }

    .swipe {
        position: absolute;
    }

    .card-container {
        width: 400px;
        height: 650px;
    }

    .card {
        position: relative;
        background-color: #fff;
        width: 500px;
        max-width: 260px;
        height: 450px;
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.137);
        border-radius: 20px;
        background-size: cover;
        background-position: center;
    }

    .cardContent {
        width: 100%;
        height: 100%;
    }

    .card {
        h3 {
            margin-top: 10px;
            color: #fff;
        }
    }

    .swipe-info {
        position: absolute;
        bottom: 0;
        padding: 10px;
    }
}